.sidbar{
    
   display: flex;
    height: calc(100vh - 50px);
    margin-top: 10px;
    top: 50px;
    position: sticky;
}
.sidebarWeapper{
   padding: 10px;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 13px;
    color: rgb(187, 186, 186);
}
.sidebarList{
    list-style: none;
    padding-left: 15px;
}
.sidebaritem{
    cursor: pointer;
}
.sidbaricon{
    color: gray;
   
}
.sidebaritem.active,.sidebaritem:hover{
   
    border-radius: 5px;
    background-color:rgb(240, 240, 255) ;
}